@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #373737;
  border: 2px solid transparent;
}

/* estilo Body Home */

.main_index {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/home-img.svg');
}

/* estilo Cabeçalho */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.080);
}

.header_logo {
  width: 220px;
}

.header_items {
  gap: 40px;
  display: flex;
}

.header_items-item {
  list-style: none;
  text-decoration: none;
}

.header_items-item a {
  font-size: 20px;
  font-weight: 700;
  color: #F0F0F0;
  text-decoration: none;
  list-style-type: none;
}

.header_button {
  height: 35px;
  width: 170px;
  font-weight: 700;
  border-radius: 10px;
  border: 2px solid #F0F0F0;
  background-color: transparent;
}

.header_button a {
  color: #F0F0F0;
  text-decoration: none;
  text-transform: uppercase;
}

.header_button:hover {
  background-color: #f0f0f040;
}

/* estilo tela Home */

main {
  height: 75vh;
  display: flex;
  align-items: center;
  margin: 40px;
}

.container_infos {
  gap: 25px;
  width: 60%;
  height: 50%;
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}

#slogan {
  font-size: 40px;
  font-weight: 700;
  color: #F0F0F0;
  margin-bottom: 30px;
}

.main_frase {
  color: #F0F0F0;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.6;
}

.main_button {
  height: 45px;
  width: 300px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 50px;
  border: 2px solid #FF3800;
  background-color: #FF3800;
}

.main_button a {
  text-decoration: none;
  text-transform: uppercase;
  color: #F0F0F0;
}

.main_button:hover {
  background-color: #ff370090;
  border: 2px solid transparent;
}


/* estilo footer */

footer {
  background-color: #F0F0F0;
  padding: 15px 0;
}

.footer_main {
  display: flex;
  justify-content: space-around;
}

.footer_topics {
  gap: 30px;
  display: flex;
  list-style: none;
  align-items: center;
}

.footer_topics li {
  font-size: 18px;
}

.footer_social {
  gap: 20px;
  display: flex;
  list-style: none;
  align-items: center;
}

.footer_copyright {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.footer_copyright p {
  font-size: 18px;
}

.generic_header {
  background-image: url('../img/home-img.svg');
}

.main_generic {
  height: 100vh;
  background-color: #FBFAFF;
}

/* estilo tela Serviços */

.service {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.service-title {
  grid-row: 1;
  grid-column: 3;
  font-size: 16px;
  color: #FF3800;
  font-weight: normal;
  margin-bottom: 20px;
  justify-self: center;
  align-self: flex-end;
  text-transform: uppercase;
}

.service-subtitle {
  grid-row: 2;
  font-size: 40px;
  font-weight: bold;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: flex-start;
}

.service-card {
  width: 90%;
  padding: 10%;
  height: 100%;
  display: grid;
  border-radius: 20px;
  justify-self: center;
  grid-template-rows: repeat(3, 1fr);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#tel.service-card {
  grid-row: 3;
  grid-column: 2;

}

#escudo.service-card {
  grid-row: 3;
  grid-column: 3;

}

#cifrao.service-card {
  grid-row: 3;
  grid-column: 4;
}

.service-card img {
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

.service-card h3 {
  grid-row: 2;
  align-self: center;
  text-align: center;
  justify-self: center;
}

.service-card p {
  grid-row: 3;
  align-self: center;
  text-align: center;
  justify-self: center;
}

/* estilo tela Como Funciona */

.funcionamento {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
}

.funcionamento-title {
  grid-row: 1;
  font-size: 16px;
  color: #FF3800;
  grid-column: 1 / -1;
  font-weight: normal;
  margin-bottom: 20px;
  justify-self: center;
  align-self: flex-end;
  text-transform: uppercase;
}

.funcionamento-subtitle {
  grid-row: 2;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: flex-start;
  font-size: 40px;
  font-weight: bold;
}

.funcionamento-card {
  padding: 10%;
  height: 100%;
  width: 90%;
  justify-self: center;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

#um.funcionamento-card {
  grid-row: 3;
  grid-column: 2;

}

#dois.funcionamento-card {
  grid-row: 3;
  grid-column: 3;

}

#tres.funcionamento-card {
  grid-row: 3;
  grid-column: 4;

}

#quatro.funcionamento-card {
  grid-row: 3;
  grid-column: 5;

}

.funcionamento-card h2 {
  grid-row: 1;
  font-size: 60px;
  color: #FF3800;
  font-weight: bold;
  align-self: center;
  text-align: center;
  justify-self: center;
}

.funcionamento-card h3 {
  grid-row: 2;
  align-self: center;
  text-align: center;
  justify-self: center;
}

.funcionamento-card p {
  grid-row: 3;
  align-self: center;
  text-align: center;
  justify-self: center;
}

/* estilo tela Orçamento */


/* estilo tela Sobre Nós */

.container_img_notebook {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notebook {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_descricao {
  width: 30%;
  height: 100%;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title_sobre {
  font-size: 40px;
  font-weight: 800;
  color: #FF3800;
  margin-bottom: 20px;
}

.container_descricao h2 {
  margin: 30px 0;
  font-size: 22px;
}

.container_descricao p {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.sobre_button {
  height: 45px;
  width: 310px;
  font-size: 22px;
  margin-top: 35px;
  font-weight: 400;
  border-radius: 50px;
  border: 2px solid #FF3800;
  background-color: #FF3800;
}

.sobre_button:hover {
  background-color: #ff370090;
  border: 2px solid #FFFFFF;
}

.sobre_button a {
  color: #F0F0F0;
  text-decoration: none;
  text-transform: uppercase;
}

.orcamento_um {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.orcamento_um-title {
  font-size: 16px;
  font-weight: normal;
  color: #FF3800;
  text-transform: uppercase;
}

.orcamento_um-subtitle {
  font-size: 40px;
  font-weight: bold;
}

#forms_um {
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 40px;
  width: 90%;
  height: 70%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.forms_um-title {
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-self: center;
}

.forms-topics {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected_span {
  background-color: #333333;
  width: 47px;
  height: 47px;
  padding: 18px;
  color: #FFFFFF;
  font-size: 19;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected_p {
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

.selected_hr {
  width: 90px;
  height: 2px;
  background-color: #333333;
}

.form_span {
  background-color: #EDE8E8;
  width: 47px;
  height: 47px;
  padding: 18px;
  color: #FFFFFF;
  font-size: 19;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_p {
  font-size: 16px;
  font-weight: normal;
  color: #EDE8E8;
}

.form_hr {
  width: 90px;
  height: 2px;
  border-color: #EDE8E8;
}

.forms-nome {
  grid-template-columns: 1;
  grid-row: 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.forms-nome label {
  padding: 0;
}

.forms-nome input {
  width: 450px;
  height: 44px;
  border-radius: 5px;
  border: #EDE8E8 1px solid;
  background-color: #FBFAFF;
  padding: 0 10px;
}

.forms-sobrenome {
  grid-template-columns: 2;
  grid-row: 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.forms-sobrenome input {
  width: 450px;
  height: 44px;
  border-radius: 5px;
  border: #EDE8E8 1px solid;
  background-color: #FBFAFF;
  padding: 0 10px;
}

.forms-email {
  grid-template-columns: 1;
  grid-row: 4;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.forms-email input {
  width: 450px;
  height: 44px;
  border-radius: 5px;
  border: #EDE8E8 1px solid;
  background-color: #FBFAFF;
  padding: 0 10px;
}

.forms-telefone {
  grid-template-columns: 2;
  grid-row: 4;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.forms-telefone input {
  width: 450px;
  height: 44px;
  border-radius: 5px;
  border: #EDE8E8 1px solid;
  background-color: #FBFAFF;
  padding: 0 10px;
}

#forms-button {
  grid-template-columns: 1 / span 2;
  grid-template-rows: 5;
  align-self: flex-end;
  justify-self: flex-end;
  width: 150px;
  height: 45px;
  background-color: #61E16E;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 15px;
  border: none;
}
